name: CI

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_DB: lakehouse
          POSTGRES_USER: lakehouse
          POSTGRES_PASSWORD: lakehouse
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U lakehouse -d lakehouse"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=10

    
    steps:
      - uses: actions/checkout@v4
      - name: Run tests
        env:
          DB_HOST: 127.0.0.1
          DB_PORT: 5432
          DB_NAME: lakehouse
          DB_USER: lakehouse
          DB_PASSWORD: lakehouse
        run: |
          make setup
          make lint
          make test

